body {
    margin: 0;
}
/* header {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "menu logo links";
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.562);
} */

header div {
    display: flex;
    align-items: center;
}

header{
    background-color: #87986A;
}
#logo {
    display: flex;
    justify-content: space-between;
    padding: 0px 6em;
}

#logo h1{
    width: min-content;
}


footer, header > div:first-child{
    background-color: rgb(36, 39, 33);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.padding_control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding_control > div:not(.notice){
    width: 75%;
}

nav{
    background-color: #B5C99A;
    color: black;
}
ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}


.notice{
    background-color: #E3DED1;
    border: dashed 2px #D4AF37;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    
}
:has(> .notice) {
    display: flex;
    justify-content: center;
}
.padding_control:has(.notice){
    border-bottom: dashed;
}

.notice > h1,p {
    margin: 0;
}
.notice > button {
    background-color: #EFBE04;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}

.catalog_grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    margin: 30px;
}
.catalog_grid > img {
    background-color: #e9d58c;
}