body {
    margin: 0;
}
/* header {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "menu logo links";
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.562);
} */

header div {
    display: flex;
    align-items: center;
}

header{
    background-color: #87986A;
}
#logo {
    display: flex;
    justify-content: space-between;
    padding: 0px 6em;
}

#logo h1{
    width: min-content;
}

header > div:first-child{
    display: flex;
    justify-content: space-around;
    padding: 0px 15px;
    background-color: rgb(36, 39, 33);
    color: rgb(255, 255, 255);
}


footer{
    background-color: rgb(36, 39, 33);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.padding_control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding_control > div{
    width: 75%;
}

nav{
    background-color: #B5C99A;
    color: black;
}
ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
