@import url('https://fonts.googleapis.com/css2?family=Forum&family=Raleway:wght@400;600&display=swap');

/* CSS global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #444c35;
  color: #e9f5db;
}

header div {
  display: flex;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: space-between;
  padding: 0 6em;
  cursor: pointer;
}

footer,
header > div:first-child {
  background-color: #000000;
  color: #e9f5db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  flex-wrap: wrap;
}

footer {
  margin-top: auto;
}

nav {
  background-color: #444c35;
  color: black;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center; 
}

nav li {
  display: flex;
  align-items: center; 
}

nav a {
  text-decoration: none;
  color: #e9f5db;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  border-radius: 5px;
  margin-left: 10px; 
}

nav a:hover {
  background-color: #6c7a58;
  color: #ffffff;
  border-radius: 5px;
}

form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
}

form input[type='search'] {
  padding: 12px 20px;
  border: 2px solid #6c7a58; 
  border-radius: 30px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  background-color: #e9f5db; 
  transition: all 0.3s ease-in-out;
  width: 350px; 
}

form input[type='search']:focus {
  outline: none;
  border-color: #444c35;
  background-color: #e9f5db;
}

form button {
  padding: 12px 20px;
  background-color: #444c35;
  color: #e9f5db;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #6c7a58;
}

.select-container {
  position: relative;
  display: inline-block;
}

#idSelectNavbar {
  padding: 12px 18px;
  background-color: #000;
  color: #e9f5db;
  border: 2px solid #6c7a58;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

#idSelectNavbar:focus {
  outline: none;
  border-color: #6c7a58;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.arrow-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

#idSelectWrapper.open .arrow-icon {
  transform: translateY(-50%) rotate(180deg);
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #000000;
  border: 2px solid #6c7a58;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.options-list li {
  padding: 12px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #e9f5db;
  cursor: pointer;
}

.options-list li:hover {
  background-color: #444c35;
}

#idSelectWrapper.open .options-list {
  display: block;
}

#logoInstagram {
  height: 6vh;
}
#logoFacebook {
  height: 6vh;
}

#divFooter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

#divFooter > div {
  flex: 1;
  margin: 0 80px;
}
#parrafoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

/* index.html */
.padding_control_platos {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw; 
  max-width: 1500px; 
  margin:auto;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/banner6.jpg') no-repeat center center/cover;
  filter: blur(0px);
  z-index: -1;
}

.notice {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.notice > h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #444c35;
  margin-bottom: 10px;
}

.notice > p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #5a5a5a;
}

.notice > button {
  background-color: #d4af37;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.notice > button:hover {
  background-color: #b7950b;
}

.catalog_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-top: 30px;
}

#div_contenedor_categorias{
  height: 60%;
  width: 100%;
}
.catalog_item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}
.catalog_item img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 350px; /* Tamaño uniforme */
  border-radius: 10px;
  object-fit: cover; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.catalog_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.catalog_item:hover .catalog_overlay {
  opacity: 1;
}

.catalog_text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 2; 
}

.catalog_grid > img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.catalog_grid > img:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}
/* Secciones de la carta */
section {
  padding: 60px 5vw;
  max-width: 1200px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-top: 5px solid #2e8b57; /* Verde elegante */
}

section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2e8b57; /* Verde oscuro */
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

section p {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

section ul li {
  background: #f0fff0; 
  padding: 15px;
  border-left: 5px solid #2e8b57; 
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

section ul li:hover {
  background: #d0f0d0; 
  transform: scale(1.02);
}

section ul li strong {
  color: #444;
  font-weight: bold;
}

@media (max-width: 768px) {
  section {
    padding: 40px 3vw;
  }

  section h2 {
    font-size: 1.8rem;
  }

  section p {
    font-size: 1rem;
  }

  section ul li {
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Contacto.html */
.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.info-contacto {
  width: 600px;
  height: auto;
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.formulario-contacto {
  width: 400px;
  max-width: 100%;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-contacto h3 {
  margin-bottom: 15px;
  color: #444c35;
}

.formulario-contacto form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
  border-color: #87986a;
  box-shadow: 0 0 5px rgba(135, 152, 106, 0.5);
}

.formulario-contacto button {
  width: 100%;
  padding: 10px;
  background-color: #87986a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.formulario-contacto button:hover {
  background-color: #6b7c54;
}

.mapa {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Novedades.html / Ofertas.html*/
.novedades-container {
    padding: 40px 20px;
    background-color: #f4f1e9;
}

.novedades-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #444C35;
    font-weight: bold;
}

.novedades-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.novedad {
    width: 85%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.novedad:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.novedad-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 16px; 
}

.novedad-text {
    flex: 1; 
}

.novedad img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}


.novedad img:hover {
    transform: scale(1.05);
}

.novedad h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.novedad p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
}

.precio {
    font-weight: bold;
    color: #D4AF37;
    font-size: 1.5rem;
}

/* Categorias.html */
#divEntrantes,
#divPrimeros,
#divSegundos,
#divAcompañantes,
#divPostres,
#divBebidas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  border: 3px solid black;
  margin: 8vh;
}
#divEntrantes img,
#divPrimeros img,
#divSegundos img,
#divAcompañantes img,
#divPostres img,
#divBebidas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#divPrimeros > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#divPrimeros > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divPrimeros h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

#divEntrantes > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divEntrantes > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divEntrantes h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

#divSegundos > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divSegundos > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divSegundos h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

#divAcompañantes > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divAcompañantes > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divAcompañantes h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

#divPostres > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divPostres > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divPostres h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

#divBebidas > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divBebidas > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divBebidas h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

/* Outlet.html */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.btn {
   margin-left: auto;
}

/* Responsive */
@media (max-width: 768px) {
  #logo {
    padding: 0 2em;
  }

  footer,
  header > div:first-child {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .catalog_grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .contacto-container {
    flex-direction: column;
    align-items: center;
  }

  .info-contacto,
  .formulario-contacto {
    width: 90%;
  }

  .novedad-content {
    flex-direction: column;
    text-align: center;
  }
}
